{% load static %}


<html lang="en" xmlns:style="http://www.w3.org/1999/xhtml">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<title>mybestpal</title>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700%7CVarela+Round" rel="stylesheet">

	<!-- Bootstrap -->
	<link type="text/css" rel="stylesheet" href="{% static 'css_first_look/bootstrap.min.css' %}" />

	<!-- Owl Carousel -->
	<link type="text/css" rel="stylesheet" href="{% static 'css_first_look/owl.carousel.css' %}" />
	<link type="text/css" rel="stylesheet" href="{% static 'css_first_look/owl.theme.default.css' %}" />

	<!-- Magnific Popup -->
	<link type="text/css" rel="stylesheet" href="{% static 'css_first_look/magnific-popup.css' %}" />

	<!-- Font Awesome Icon -->
	<link rel="stylesheet" href="{% static 'css_first_look/font-awesome.min.css' %}">

	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="{% static 'css_first_look/style.css' %}" />

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>

<body>
	<!-- Header -->
	<header id="home">
		<!-- Background Image -->
		<div class="bg-img">

			<img class="img-responsive" src="{% static 'img_first_look/background1.jpg' %}" alt="">

			<div class="overlay"></div>
		</div>
		<!-- /Background Image -->

		<!-- Nav -->
		<nav id="nav" class="navbar nav-transparent">
			<div class="container">

				<div class="navbar-header">




					<!-- Collapse nav button -->
					<div class="nav-collapse">
						<span></span>
					</div>
					<!-- /Collapse nav button -->
				</div>

				<!--  Main navigation  -->
				<ul class="main-nav nav navbar-nav navbar-right">


					<li><a href="/logout/">logout</a></li>



				</ul>
				<!-- /Main navigation -->

			</div>
		</nav>
		<!-- /Nav -->

		<!-- home wrapper -->
		<div class="home-wrapper">
			<div class="container">
				<div class="row">

					<!-- home content -->
					<div class="col-md-10 col-md-offset-1">
						<div class="home-content">
							<h1 class="white-text">GET READY TO EXCITE </h1>
							<h3 class="white-text">here are some of our features
							</h3>



							<a href="/tasklist/" class="btn btn-success">MY TASK</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
							<a href="/signup/" class="btn btn-success">FRIENDS</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
							<a href="/signup/" class="btn btn-success">PASSWORD DATA</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
							<a href="/signup/" class="btn btn-success">FILE DATA</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
							<a href="/signup/" class="btn btn-success">BANK DATA</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
							<a href="/signup/" class="btn btn-success">GALLERY</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
							<a href="/signup/" class="btn btn-success">GAMES</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp






						</div>
					</div>
					<!-- /home content -->

				</div>
			</div>
		</div>
		<!-- /home wrapper -->

	</header>
	<!-- /Header -->



	<!-- Footer -->
	<footer id="footer" class="sm-padding bg-dark">

		<!-- Container -->
		<div class="container">

			<!-- Row -->
			<div class="row">

				<div class="col-md-12">



					<!-- footer copyright -->
					<div class="footer-copyright">
						<p>Copyright © 2018. All Rights Reserved. Designed by my best pal</p>
					</div>
					<!-- /footer copyright -->

				</div>

			</div>
			<!-- /Row -->

		</div>
		<!-- /Container -->

	</footer>
	<!-- /Footer -->

	<!-- Back to top -->
	<div id="back-to-top"></div>
	<!-- /Back to top -->

	<!-- Preloader -->
	<div id="preloader">
		<div class="preloader">
			<span></span>
			<span></span>
			<span></span>
			<span></span>
		</div>
	</div>
	<!-- /Preloader -->

	<!-- jQuery Plugins -->
	<script type="text/javascript" src="{% static 'js_first_look/jquery.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js_first_look/bootstrap.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js_first_look/owl.carousel.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js_first_look/jquery.magnific-popup.js' %}"></script>
	<script type="text/javascript" src="{% static 'js_first_look/main.js' %}"></script>

</body>

</html>
