{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create new Card</title>
</head>
<body background="{% static 'img_first_look/table_background3.jpg' %}">
<h1>make your schedule i will remind you via email and sms at ur scheduled time </h1>
<h2>you may forget things but your best pal never we r here to remind u</h2>
 <form align="center" method="post">
        {% csrf_token %}
        <fieldset>
            <legend>Add Card</legend>
            {{form.as_p}}
        </fieldset>
        <input type="submit" value="Submit"/>
    </form>

</body>
</html>